SPRING_PROFILES_ACTIVE=dev
PRODUCT_ID=DPS015
HMPPS_SAR_ADDITIONALACCESSROLE=ROLE_EDUCATION_WORK_PLAN_VIEW
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/job-board
#SPRING_DATASOURCE_URL=jdbc:postgresql://job-board-db:5432/job-board

# ================================ SECRETS ================================
## get it from secrets: kubectl -n hmpps-jobs-board-dev get secret hmpps-jobs-board-api -o json | jq '.data | map_values(@base64d)'
OS_PLACES_API_KEY=
